.filter-category {
  &__label {
    margin-bottom: 15px;
    display: block;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: $accent;
      color: #fff;
    }
  }
  &__checkbox {
    background-color: #f6f6f6;
    color: $title;
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    margin-bottom: 15px;
  }
}