.filter-color {
  &__label {
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    & + .filter-color__label {
      padding-top: 20px;
    }
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-color__checkbox {
      background-image: url("../images/icons/check-on.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &__checkbox {
    width: 16px;
    height: 16px;
    position: absolute;
    margin: 7px 0 0 -16px;
  }
  &__checkbox--blue {
    background-color: #00aeef;
  }
  &__checkbox--red {
    background-color: #f52574;
  }
  &__checkbox--green {
    background-color: #24d4ac;
  }
  &__checkbox--orange {
    background-color: #ff7e00;
  }
  &__checkbox--black {
    background-color: #000000;
  }
  &__checkbox--purple {
    background-color: #923899;
  }
}