.modal {
  padding-top: 100px;
  max-width: 570px;
  margin: 0 auto 115px;
  &__links {
    text-align: center;
    margin-bottom: 40px;
  }
  &__link {
    font-size: 22px;
    @extend %roboto-400;
    text-transform: uppercase;
    color: #909090;
    margin: 0 30px;
  }
  &__link--active {
    color: $accent;
    @extend %roboto-700;
  }
  &__label {
    margin-bottom: 30px;
    display: block;
  }
  &__input {
    margin-top: 4px;
    display: block;
    width: 100%;
    background-color: $bg;
    height: 60px;
    padding: 0 15px;
    border: none;
  }
  &__btn {
    display: block;
    background-color: $title;
    text-transform: uppercase;
    color: #fff;
    @extend %roboto-400;
    padding: 14px 0;
    width: 100%;
  }
  &__error {
    color: $accent;
    margin-top: 12px;
    display: inline-block;
  }
  &__text {
    margin-bottom: 25px;
  }
}