.related {
  padding: 50px 0 120px;
  &__title {
    margin-bottom: 50px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    .product-item__img-box {
      height: auto;
      margin-bottom: 20px;
    }
    .product-item__title {
      padding: 5px 0;
      font-size: 18px;
    }
    .product-item__box {
      max-width: 230px;
    }
  }
}

@media (max-width: 860px) {
  .related {
    &__items {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }
  }
}

@media (max-width: 450px) {
.related {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}