.latest-post {
  padding: 35px 30px 40px;
  border: 1px solid #ececec;
  margin-bottom: 40px;
  &__title {
    color: $title;
    text-transform: uppercase;
    @extend %roboto-700;
    font-size: 22px;
    margin-bottom: 30px;
  }
  &__item {
    display: flex;
    margin-bottom: 20px;
    &:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 1px solid #ececec;
    }
  }
  &__img-link {
    display: block;
    margin-right: 20px;
    min-width: 80px;
    height: 80px;
  }
  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  &__box-title {
    font-size: 18px;
    @extend %roboto-400;
    color: $title;
    margin-bottom: 5px;
    line-height: 26px;
  }
  &__box-link {
    display: inline-block;
  }
  &__date {
    @extend %roboto-400;
    padding-left: 26px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/calendary.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      left: 0;
      top: 4px;
      width: 16px;
      height: 16px;
    }
  }
}